In [1]:
import numpy as np
import pandas as pd
df = pd.DataFrame({"A": [1, 2, None, 4],
                   "B": ["one", "two", "three", None],
                   "C": [False, None, False, True]})
df
df["A"] = df["A"].astype("Int64")
df["B"] = df["B"].astype("string")
df["C"] = df["C"].astype("boolean")
df

      A      B      C
0     1    one  False
1     2    two   <NA>
2  <NA>  three  False
3     4   <NA>   True

In [2]:
val = "a,b,  guido"
val.split(",")

['a', 'b', '  guido']

In [3]:
pieces = [x.strip() for x in val.split(",")]
pieces

['a', 'b', 'guido']

In [4]:
first, second, third = pieces
first + "::" + second + "::" + third

'a::b::guido'

In [5]:
"::".join(pieces)

'a::b::guido'

In [6]:
"guido" in val
val.index(",")
val.find(":")

-1

In [8]:
val = "a,b, guido"

if ":" in val:
    index = val.index(":")
    print(f"Index of ':': {index}")
else:
    print("':' not found in the string")

':' not found in the string

In [9]:
val.count(",")

2

In [10]:
val.replace(",", "::")
val.replace(",", "")

'ab guido'

In [11]:
import re
text = "foo    bar\t baz  \tqux"
re.split(r"\s+", text)

['foo', 'bar', 'baz', 'qux']

In [12]:
regex = re.compile(r"\s+")
regex.split(text)

['foo', 'bar', 'baz', 'qux']

In [13]:
regex.findall(text)

['    ', '\t ', '  \t']

In [14]:
text = """Dave dave@google.com
Steve steve@gmail.com
Rob rob@gmail.com
Ryan ryan@yahoo.com"""
pattern = r"[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}"

# re.IGNORECASE makes the regex case insensitive
regex = re.compile(pattern, flags=re.IGNORECASE)

In [15]:
regex.findall(text)

['dave@google.com', 'steve@gmail.com', 'rob@gmail.com', 'ryan@yahoo.com']

In [16]:
m = regex.search(text)
m
text[m.start():m.end()]

'dave@google.com'

In [17]:
print(regex.match(text))

None

In [18]:
print(regex.sub("REDACTED", text))

Dave REDACTED
Steve REDACTED
Rob REDACTED
Ryan REDACTED

In [19]:
pattern = r"([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})"
regex = re.compile(pattern, flags=re.IGNORECASE)

In [20]:
m = regex.match("wesm@bright.net")
m.groups()

('wesm', 'bright', 'net')

In [21]:
regex.findall(text)

[('dave', 'google', 'com'),
 ('steve', 'gmail', 'com'),
 ('rob', 'gmail', 'com'),
 ('ryan', 'yahoo', 'com')]

In [22]:
print(regex.sub(r"Username: \1, Domain: \2, Suffix: \3", text))

Dave Username: dave, Domain: google, Suffix: com
Steve Username: steve, Domain: gmail, Suffix: com
Rob Username: rob, Domain: gmail, Suffix: com
Ryan Username: ryan, Domain: yahoo, Suffix: com